.auth-container{

min-height:80vh;

display:flex;

justify-content:center;

align-items:center;

background:#f6fff7;

}


.auth-box{

background:white;

width:400px;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

text-align:center;

}


.auth-box h2{

color:#2E7D32;

font-size:32px;

}



.auth-box input{

width:100%;

padding:14px;

margin:12px 0;

border:1px solid #ddd;

border-radius:10px;

}


.auth-box button{

width:100%;

padding:14px;

background:#2E7D32;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}


.auth-box span{

color:#2E7D32;

cursor:pointer;

font-weight:bold;

}


.error{

color:red;

font-size:14px;

}