.categories{

width:90%;

margin:70px auto;

}

.section-title{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.section-title span{

font-size:13px;

font-weight:600;

color:#2E7D32;

letter-spacing:1px;

}

.section-title h2{

font-size:34px;

margin-top:8px;

color:#222;

}

.section-title button{

padding:13px 28px;

background:#2E7D32;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.category-grid{

display:grid;

grid-template-columns:repeat(6,1fr);

gap:25px;

}

.category-card{

background:white;

border-radius:20px;

padding:25px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.05);

transition:.35s;

cursor:pointer;

}

.category-card:hover{

transform:translateY(-10px);

}

.category-card img{

width:85px;

height:85px;

object-fit:contain;

margin-bottom:18px;

}

.category-card h3{

font-size:18px;

margin-bottom:8px;

color:#222;

}

.section-title button {
  background: #2f8f46;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section-title button:hover {
  background: #1f6b32;
  transform: translateY(-3px);
}

.category-card p{

font-size:14px;

color:#777;

}

/* Categories Responsive */


@media(max-width:1100px){

.category-grid{

grid-template-columns:repeat(3,1fr);

}

}


@media(max-width:600px){


.categories{

width:85%;

}


.section-title{

flex-direction:column;

gap:20px;

align-items:flex-start;

}


.section-title h2{

font-size:28px;

}


.category-grid{

grid-template-columns:repeat(2,1fr);

gap:15px;

}


.category-card{

padding:15px;

}


.category-card img{

width:60px;

height:60px;

}

}