.wishlist-container{

    padding:40px;

}


.wishlist-container h2{

    font-size:30px;
    margin-bottom:30px;

}



.wishlist-table{

    width:100%;
    border-collapse:collapse;
    background:#fff;

}


.wishlist-table tr{

    border-bottom:1px solid #eee;

}


.wishlist-table th{

    text-align:left;
    padding:18px;
    border-bottom:2px solid #ddd;
    font-size:16px;

}


.wishlist-table td{

    padding:20px;
    border:none;

}



.product-column{

    display:flex;
    align-items:center;
    gap:20px;

}



.product-column img{

    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:10px;

}



.product-column span{

    font-size:17px;
    font-weight:600;

}



.stock-status{

    color:green;
    font-weight:600;

}



.action-column{

    white-space:nowrap;

}

.action-column button{

    margin-right:10px;

}


.cart-button{

    background:#198754;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;

}



.remove-button{

    background:#dc3545;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;

}



.cart-button:hover,
.remove-button:hover{

    opacity:0.8;

}



.empty-wishlist{

    text-align:center;
    padding:50px;

}